@model List<Product> 
@*tipiziranje pogleda!!!!!!*@

@{
    ViewData["Title"] = "Dobro došli na naš mali webshop";
    ViewData["Description"] = "Ovo je projektni zadatak programa obrzaovanja ASP.NET Developer";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewData["Description"]</p>
</div>


<form method="get" asp-area="" asp-controller="Home" asp-action="Index" class="row mb-5">

    <div class="col-3">
        <input type="text" class="form-control" name="searchQuery" />
    </div>

    <div class="col-3">
        <select class="form-select" name="orderBy">
            <option value="">All Categories</option>
            <option value="1">Mliječni proizvodi</option>
            <option value="2">Domaći proizvodi</option>
            <option value="3">Proteinska hrana</option>
            <option value="4">Hrana za kućne ljubimce</option>
            <option value="5">Nakit</option>
        </select>
    </div>

        <div class="col-3">
            <select class="form-select" name="orderBy">
                <option value="">Default</option>
                <option value="1">Title (A - Z)</option>
                <option value="2">Title (Z - A)</option>
                <option value="3">Price (1,2,3)</option>
                <option value="4">Price (3,2,1)</option>
            </select>
        </div>



        <div class="col-3">
            <input type="submit" class="btn btn-success" value="Search..." />
        </div>
</form>



<div class="row">

    @foreach(var item in Model)
    {
        <div class="card col-4 mb-3">
            @{
                string setImage = !String.IsNullOrEmpty(item.Image) ? "~/images/products/" + item.Image : "~/images/default-placeholder.png";
            }
            <img src="@Url.Content(setImage)" class="card-img-top" alt="...">

            <div class="card-body">

                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>

                <p class="card-text">@item.Price.ToString("C2")</p>

            </div>
        </div>
    }

</div>